.vscode/
yaml-cpp/*
build/
yolov8/models/*.engine
debug/saved_image/*
temp/
videos/input/*
videos/output/*
yolov8/nvdsinfer_custom_impl_Yolo_yolov8/*.o
yolov8/nvdsinfer_custom_impl_Yolo_yolov8/*.so
yolov8/nvdsinfer_custom_impl_Yolo_seg/*.o
yolov8/nvdsinfer_custom_impl_Yolo_seg/*.so
yolov8/nvdsinfer_custom_impl_Yolo_yolov8/layers/*.o
yaml-cp
.venv/
